@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* 다크모드 전환 시 */
.dark body {
  background-color: #1a202c; /* Darker background */
  color: #f7fafc; /* Lighter text */
}

/* 일반적인 다크모드 스타일링 */
.dark .bg-gray-100 {
  background-color: #2d3748; /* Darker gray */
}

.dark .bg-gray-200 {
  background-color: #4a5568; /* Darker gray */
}

/* 기본 스타일 */
body {
  transition: background-color 0.3s, color 0.3s;
}
